:root {
    /* Light theme colors: */
    --background-color: #FEEED3;
    --accent-1: #D5AD79;
    --accent-2: #7D3D30;
    --accent-3: #212444;
    --text-color: #331A09;
    --focus-color: #d7814b;
}

:has(#theme-tog:checked) {
    /* Dark theme colors */
    --background-color: #000000;
    --accent-1: #252D36;
    --accent-2: #c6474d;
    --accent-3: #eed6d7;
    --text-color: #FFFFFA;
    --focus-color: #661719;
}

html {
    height: 100%;
}

body {
    /* actual body css */
    background: var(--background-color);
    font-family: 'Rockwell', 'Garamond', serif;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s;
}

header,
footer {
    background: var(--accent-1);
    border-style: solid;
    border-color: var(--accent-3);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    transition: background-color 0.5s, border-color 0.5s;
}

header {
    border-width: 0 0 4px 0;
}

h1,
h2,
p {
    color: var(--text-color);
    transition: color 0.5s;
}

h1 {
    font-size: 2.5em;
    margin: 1em;
    text-shadow: 0 0 2px var(--accent-3);
    transition: text-shadow 0.5s;
}

h2 {
    font-size: 2em;
    margin: 0.5em;
    font-style: italic;
}

.spacer {
    width: 12em;
    padding: 0 0.5em;
    margin: 0 2em;
}

#theme-tog {
    appearance: none;
    opacity: 1;
    background-image: url(../images/light-icon.png);
    background-size: 100%;
    width: 1.2em;
    height: 1.2em;
    border-radius: 20px;
    margin: 0 0.5em;
}

#theme-tog:checked {
    background-image: url(../images/dark-icon.png);
}

#theme-tog:focus {
    outline: 3px solid var(--focus-color);
    transition: outline 0.5s;
}

.button {
    height: 2em;
    width: 12em;
    padding: 0.5em;
    margin: 2em;
    background: var(--accent-2);
    border: 2px solid var(--accent-3);
    border-radius: 5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, border-color 0.5s;
}

.button>p,
.button>a {
    color: var(--background-color);
    font-size: 1em;
    font-weight: bold;
    transition: font-size 1s, color 0.5s;
}

.button>p:hover {
    font-size: 1.1em;
}

a:link {
    font-weight: bold;
    transition: color 0.5s, width 0.5s, background-color 0.5s, outline-color 0.5s;
}

.button-link, .hint-card > p > a:link, .nav-link, .arrest-button > a:link {
    color: var(--background-color);
}

.button-link:visited, .hint-card > p > a:visited, .nav-link:visited, .arrest-button > a:visited {
    color: var(--accent-1);
}

a:focus {
    background: var(--focus-color);
    color: var(--accent-3);
    outline: 2px solid var(--focus-color);
    border-radius: 2px;
}

nav {
    background: var(--accent-2);
    border-width: 0 0 4px 0;
    border-color: var(--accent-3);
    border-style: solid;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 0.1em;
    z-index: 10;
    transition: background-color 0.5s, border-color 0.5s;
}

.nav-button {
    background: var(--accent-3);
    padding: 0 0.6em;
    margin: 0.5em;
    border-radius: 12px;
    transition: background-color 0.5s;
}

.nav-button>p {
    font-size: 0.9em;
    transition: font-size 1s;
}

.nav-button>p:hover {
    font-size: 0.95em;
}

.this-screen {
    background: var(--background-color);
    font-weight: bold;
    font-style: italic;
    transition: background-color 0.5s;
}

main {
    padding: 3em 10em;
    align-items: center;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    border-width: 4px 0 0 0;
}

#disclaimer {
    text-align: center;
    width: 30em;
}

/* for Case File page */

#file {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#file-vic-img {
    width: 12em;
    margin: 2em;
}

#file-victim {
    width: 100%;
    border: 2px solid var(--accent-2);
    transition: border-color 0.5s;
}

#file-text {
    width: 23em;
}

.file-link {
    color: var(--accent-3);
}

.file-link:visited {
    color: var(--accent-2);
}

/* for Case Board Page */

#case-board {
    background: url(../images/cork.jpg);
    position: relative;
    border: 16px ridge var(--accent-1);
    display: flex;
    padding: 3%;
    flex-wrap: wrap;
    justify-content: center;
    transition: border-color 0.5s;
}

.board-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10em;
    margin: 1%;
}

#sus-col {
    width: 16em;
}

#ev-grid,
#sus-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 98%;
}

#victim {
    width: 90%;
    border: 2px solid var(--background-color);
    transition: background-color 0.5s;
}

.board-sus-image,
.board-ev-image {
    width: 95%;
    border: 2px solid var(--background-color);
    transition: box-shadow 1s, background-color 0.5s;
}

.board-sus-image:hover,
.board-ev-image:hover {
    box-shadow: 0 0 10px var(--accent-3);
}

.board-suspect:focus,
.board-evidence:focus {
    outline: 4px solid var(--focus-color);
    border-radius: 4px;
    transition: outline-color 0.5s;
}

.board-suspect,
.board-evidence {
    display: block;
}

.board-suspect {
    width: 90%;
}

.board-suspect:hover {
    width: 92%;
}

.board-evidence {
    width: 86%;
}

.board-evidence:hover {
    width: 88%;
}

.board-label {
    background: var(--background-color);
    font-style: italic;
    padding: 0.2em;
    text-align: center;
    transition: background-color 0.5s;
    width: 80%;
}

#board-sus-label {
    font-size: 2em;
}

#victim-label {
    text-shadow: 0 0 3px var(--accent-2);
    transition: text-shadow 0.5s;
}

#weapon-img {
    background: var(--background-color);
    transition: background-color 0.5s;
}

#hints {
    text-align: center;
}

#hint-grid {
    margin: 1em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.hint-card {
    position: relative;
    background: var(--accent-3);
    color: var(--background-color);
    margin: 1em;
    padding: 1em 2em;
    border: 2px solid var(--accent-1);
    border-radius: 10px;
    height: 6em;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s, height 1s;
}

.hint-card>p {
    color: var(--background-color);
    opacity: 0;
    transition: opacity 1s, color 0.5s;
}

.hint-card>h3 {
    font-size: 1.75em;
    font-style: italic;
    margin-bottom: 0;
    text-shadow: 0 0 4px var(--accent-2);
    transition: text-shadow 0.5s, font-size 1s;
}

.hint-card>h3:hover {
    font-size: 2em;
}

.hint-card>input[type="checkbox"] {
    position: absolute;
    top: 15%;
    left: 10%;
    appearance: none;
    background: var(--accent-3);
    border-radius: 20px;
    width: 2em;
    height: 2em;
    margin: 0;
    opacity: 1;
    transition: background-color 0.5s;
}

.hint-card>input[type="checkbox"]:focus {
    outline: 3px solid var(--focus-color);
    transition: outline-color 0.5s;
}

.hint-card>input[type="checkbox"]:checked {
    background: var(--accent-1);
    transition: background-color 0.5s;
}

#hint-1-tog:checked~#hint-text-1,
#hint-2-tog:checked~#hint-text-2,
#hint-3-tog:checked~#hint-text-3,
#hint-4-tog:checked~#hint-text-4 {
    opacity: 1;
}

#hint-1:has(#hint-1-tog:checked),
#hint-2:has(#hint-2-tog:checked),
#hint-3:has(#hint-3-tog:checked),
#hint-4:has(#hint-4-tog:checked) {
    height: 11em;
    background: var(--accent-2);
}

/* for Suspects page */

.suspects {
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 95%;
}

.suspect-card {
    border: 2px solid var(--accent-2);
    border-radius: 10px;
    padding: 2em;
    margin: 1em;
    width: 23%;
    align-items: center;
    transition: border-color 0.5s;
}

.suspect-img {
    width: 90%;
}

.suspect-info {
    font-size: 0.75em;
    line-height: 1.4em;
}

.arrest-button {
    margin: 0;
    width: 90%;
    background: var(--accent-3);
    border-color: var(--accent-2);
    transition: background-color 0.5s, border-color 0.5s;
}

.arrest-button>p {
    font-size: 1;
    transition: font-size 2s;
}

.arrest-button>p:hover {
    font-size: 1.2em;
}

@keyframes shakeText {
    0% {
        top: 0;
        left: 0;
    }

    20% {
        top: 0.5px;
        left: -0.5px;
    }

    40% {
        top: 0;
        left: 1px;
    }

    60% {
        top: 0.5px;
        left: 0;
    }

    80% {
        top: -0.5px;
        left: -0.5px;
    }

    100% {
        top: -0.5px;
        left: 0px;
    }
}

.arr-link {
    position: relative;
    color: var(--background-color);
    transition: color 1s;
}

.arr-link:hover {
    color: var(--focus-color);
    animation-name: shakeText;
    animation-duration: 0.25s;
    animation-delay: 0.25s;
    animation-iteration-count: infinite;
} 

/* for Evidence page */

.evidence-image {
    width: 100%;
    border: 2px solid var(--accent-2);
    transition: border-color 0.5s;
}

.evidence-card {
    align-items: center;
}

.evidence-card > p, .evidence-card > .transcript {
    margin: 0.5em 5em;
}

.evidence-card > label {
    z-index: 8;
}

.script-toggle {
    position: absolute;
    top: 0%;
    left: 0%;
    appearance: none;
    background: var(--background-color);
    border-radius: 20px;
    width: 1em;
    height: 1em;
    margin: 0;
    opacity: 1;
    transition: background-color 0.5s;
}

.script-toggle:focus {
    outline: 3px solid var(--focus-color);
    transition: outline-color 0.5s;
}

.script-toggle:checked {
    background: var(--text-color);
    transition: background-color 0.5s;
}

.transcript {
    position: relative;
    height: 0;
    transition: height 1s;
}

.script-text {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s;
}

#script-2:has(#script-tog-2:checked), #script-3:has(#script-tog-3:checked), #script-4:has(#script-tog-4:checked), #script-5:has(#script-tog-5:checked), #script-6:has(#script-tog-6:checked), #script-7:has(#script-tog-7:checked), #script-8:has(#script-tog-8:checked), #script-9:has(#script-tog-9:checked), #script-10:has(#script-tog-10:checked), #script-11:has(#script-tog-11:checked), #script-12:has(#script-tog-12:checked), #script-13:has(#script-tog-13:checked), #script-14:has(#script-tog-14:checked), #script-15:has(#script-tog-15:checked) {
    height: 60em;
}

#script-tog-1:checked ~ .script-text-1, #script-tog-2:checked ~ .script-text-2, #script-tog-3:checked ~ .script-text-3, #script-tog-4:checked ~ .script-text-4, #script-tog-5:checked ~ .script-text-5, #script-tog-6:checked ~ .script-text-6, #script-tog-7:checked ~ .script-text-7, #script-tog-8:checked ~ .script-text-8, #script-tog-9:checked ~ .script-text-9, #script-tog-10:checked ~ .script-text-10, #script-tog-11:checked ~ .script-text-11, #script-tog-12:checked ~ .script-text-12, #script-tog-13:checked ~ .script-text-13, #script-tog-14:checked ~ .script-text-14, #script-tog-15:checked ~ .script-text-15 {
    opacity: 1;
    height: 59em;
}

#script-6:has(#script-tog-6:checked), #script-7:has(#script-tog-7:checked), #script-8:has(#script-tog-8:checked), #script-14:has(#script-tog-14:checked) {
    height: 80em;
}

#script-tog-6:checked ~ .script-text-6, #script-tog-7:checked ~ .script-text-7, #script-tog-8:checked ~ .script-text-8, #script-tog-14:checked ~ .script-text-14 {
    height: 79em;
}

#script-1:has(#script-tog-1:checked) {
    height: 70em;
}

#script-tog-1:checked ~ .script-text-1 {
    height: 69em;
}

/*Animations added */


body {
    animation: pageFade 1s ease-in;
}

@keyframes pageFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



header h1 {
    animation: titleDrop 1.2s ease-out;
}

@keyframes titleDrop {

    0% {
        transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}



.button {
    transition: background-color 0.5s, border-color 0.5s, transform 0.2s, box-shadow 0.2s;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}



#enter {
    animation: pulse 2.5s infinite;
}

@keyframes pulse {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }

}



main h2,
main p {
    animation: textFade 1.5s ease-in;
}

@keyframes textFade {

    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}