body {
    /* Light theme colors: */
    --background-color: #FEEED3;
    --accent-1: #D5AD79;
    --accent-2: #7D3D30;
    --accent-3: #212444;
    --text-color: #331A09;

    /* actual body css */
    background: var(--background-color);
    font-family: 'Rockwell', 'Garamond', serif;
    margin: 0;
}

body.dark-theme {
    /* Dark theme colors */
    --background-color: #000000;
    --accent-1: #252D36;
    --accent-2: #821222;
    --accent-3: #da313a;
    --text-color: #FFFFFA;
}

header {
    background: var(--accent-1);
    border-width: 0 0 4px 0;
    border-style: solid;
    border-color: var(--accent-3);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 1em 3em;
    height: 5rem;
}

h1, h2, p {
    color: var(--text-color);
}

h1 {
    font-size: 3em;
    margin: 0.5em;
    text-shadow: 0 0 2px var(--accent-3);
}