body {
    /* Light theme colors: */
    --background-color: #FEEED3;
    --accent-1: #D5AD79;
    --accent-2: #7D3D30;
    --accent-3: #212444;
    --text-color: #331A09;

    /* actual body css */
    background: var(--background-color);
    font-family: 'Rockwell', 'Garamond', serif;
}

body.dark-theme {
    /* Dark theme colors */
    --background-color: #000000;
    --accent-1: #252D36;
    --accent-2: #821222;
    --accent-3: #da313a;
    --text-color: #FFFFFA;
}