html {
    height: 100%;
}

body {
    /* Light theme colors: */
    --background-color: #FEEED3;
    --accent-1: #D5AD79;
    --accent-2: #7D3D30;
    --accent-3: #212444;
    --text-color: #331A09;

    /* actual body css */
    background: var(--background-color);
    font-family: 'Rockwell', 'Garamond', serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body.dark-theme {
    /* Dark theme colors */
    --background-color: #000000;
    --accent-1: #252D36;
    --accent-2: #da313a;
    --accent-3: #eed6d7;
    --text-color: #FFFFFA;
}

header, footer {
    background: var(--accent-1);
    border-style: solid;
    border-color: var(--accent-3);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

header {
    border-width: 0 0 4px 0;
}

h1, h2, p {
    color: var(--text-color);
}

h1 {
    font-size: 2.5em;
    margin: 1em;
    text-shadow: 0 0 2px var(--accent-3);
}

h2 {
    font-size: 2em;
    margin: 0.5em;
    font-style: italic;
}

.button {
    height: 2em;
    width: 12em;
    padding: 0.5em;
    margin: 2em;
    background: var(--accent-2);
    border: 2px solid var(--accent-3);
    border-radius: 5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button > p, a {
    color: var(--background-color);
    font-size: 1em;
    font-weight: bold;
}

a:link {
    color: var(--background-color);
}

a:visited {
    color: var(--accent-1);
}

main {
    padding: 3em 10em;
    align-items: center;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    border-width: 4px 0 0 0;
}